# Import

In [66]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score,recall_score,f1_score
from sklearn.tree import export_graphviz
from sklearn.preprocessing import OneHotEncoder
from IPython.display import Image  
from sklearn.tree import export_graphviz
from pydotplus import graph_from_dot_data

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier 
from sklearn.metrics import accuracy_score, roc_curve, auc
from sklearn.tree import export_graphviz
from IPython.display import Image  
from pydotplus import graph_from_dot_data

In [12]:
X_train_ohe = pd.read_pickle("../Data/X_train_ohe.pkl")
X_test_ohe = pd.read_pickle("../Data/X_test_ohe.pkl")

In [13]:
y_train = pd.read_pickle("../Data/y_train.pkl")
y_test = pd.read_pickle("../Data/y_test.pkl")

# Decision Tree A

In [59]:
clf = DecisionTreeClassifier()

In [60]:
clf.fit(X_train_ohe,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [61]:
clf.score(X_test_ohe, y_test)

0.7957044496968452

In [62]:
y_pred = clf.predict(X_test_ohe)

In [63]:
rec = recall_score(y_test, y_pred)*100
print('Recall: ',rec)

Recall:  75.72372919990882

In [64]:
f1_score(y_test, y_pred)

0.7696941612604263

In [75]:
acc = accuracy_score(y_test,y_pred) * 100
print('Accuracy: \t{0}'.format(acc))

rec = recall_score(y_test, y_pred)*100
print('Recall:\t\t',rec)

f1_score(y_test, y_pred)
print('F1:\t\t',rec)


# Check the AUC for predictions
false_positive_rate, true_positive_rate, thresholds = roc_curve(y_test, y_pred)
roc_auc = auc(false_positive_rate, true_positive_rate)
print('\nAUC is :{0}'.format(round(roc_auc, 2)))

# Create and print a confusion matrix 
print('\nConfusion Matrix')
print('----------------')
pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

Accuracy: 	79.57044496968452
Recall:		 75.72372919990882
F1:		 75.72372919990882

AUC is :0.79

Confusion Matrix
----------------

Predicted     0     1   All
True
0          4421   923  5344
1          1065  3322  4387
All        5486  4245  9731

---
# Decision Tree B

In [149]:
clfB = DecisionTreeClassifier(#min_samples_leaf=5
                             # ,max_depth=5
                             #,max_features=4000
                             )

In [150]:
clfB.fit(X_train_ohe,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [151]:
clfB.score(X_test_ohe, y_test)

0.7946768060836502

In [152]:
y_pred_b = clfB.predict(X_test_ohe)

In [153]:
acc = accuracy_score(y_test,y_pred_b) * 100
print('Accuracy: \t{0}'.format(acc))

rec = recall_score(y_test, y_pred_b)*100
print('Recall:\t\t',rec)

f1_score(y_test, y_pred_b)
print('F1:\t\t',rec)


# Check the AUC for predictions
false_positive_rate, true_positive_rate, thresholds = roc_curve(y_test, y_pred_b)
roc_auc = auc(false_positive_rate, true_positive_rate)
print('\nAUC is :{0}'.format(round(roc_auc, 2)))

# Create and print a confusion matrix 
print('\nConfusion Matrix')
print('----------------')
pd.crosstab(y_test, y_pred_b, rownames=['True'], colnames=['Predicted'], margins=True)

Accuracy: 	79.46768060836501
Recall:		 75.67813995896968
F1:		 75.67813995896968

AUC is :0.79

Confusion Matrix
----------------

Predicted     0     1   All
True
0          4413   931  5344
1          1067  3320  4387
All        5480  4251  9731

---
# Other

In [32]:
X_train_ohe

,0,1,2,3,4,5,6,7,8,9,...,5124,5125,5126,5127,5128,5129,5130,5131,5132,5133
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,-0.130699,0.778903,0.683701,-0.793088
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,-0.130699,-0.996720,-0.368306,-0.016365
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,-0.130699,-0.996720,-0.368306,-0.016365
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,-0.130699,-0.996720,-0.368306,-0.016365
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,-0.130699,-1.028223,-0.284145,-0.016365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38915,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,-0.121506,0.018535,-0.294665,-1.084359
38916,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,-0.123344,-1.006743,-0.366202,-0.598907
38917,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,-0.112312,-0.822021,-0.366202,-0.987269
38918,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,-0.130699,-0.996720,-0.368306,-0.016365
38919,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,-0.130699,0.840477,0.368099,-0.695997

In [35]:
cols = X_train_ohe.columns

In [36]:
cols = pd.DataFrame(X_train_ohe)

In [37]:
cols

,0,1,2,3,4,5,6,7,8,9,...,5124,5125,5126,5127,5128,5129,5130,5131,5132,5133
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,-0.130699,0.778903,0.683701,-0.793088
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,-0.130699,-0.996720,-0.368306,-0.016365
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,-0.130699,-0.996720,-0.368306,-0.016365
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,-0.130699,-0.996720,-0.368306,-0.016365
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,-0.130699,-1.028223,-0.284145,-0.016365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38915,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,-0.121506,0.018535,-0.294665,-1.084359
38916,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,-0.123344,-1.006743,-0.366202,-0.598907
38917,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,-0.112312,-0.822021,-0.366202,-0.987269
38918,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,-0.130699,-0.996720,-0.368306,-0.016365
38919,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,-0.130699,0.840477,0.368099,-0.695997

In [38]:
feature_importances = clf.feature_importances_
columns = ohe.get_feature_names().tolist() +numerical_variables.tolist()

importances = pd.DataFrame(data= feature_importances, index = columns, columns= ['feature_importances'])

importances.sort_values(by = 'feature_importances', ascending = False)

# Top 3 highest feature importance weight
cols = pd.DataFrame(X_train_ohe)
importances = pd.DataFrame({'feature':cols.columns,'importance':np.round(clf.feature_importances_,3)})
importances = importances.sort_values('importance',ascending=False)

NameError: name 'ohe' is not defined

In [ ]:
# Create DOT data
dot_data = export_graphviz(clf, out_file=None, 
                           feature_names=X_train_ohe.columns,  
                           class_names=np.unique(y_train).astype('str'), 
                           filled=True, rounded=True, special_characters=True)

# Draw graph
graph = graph_from_dot_data(dot_data)  

# Show graph
Image(graph.create_png('test.png'))